$--color-font-main: rgba(51, 51, 51, 1); // Основной цвет шрифта
$--color-font-second: rgba(170, 170, 170, 1); // Вторичый цвет в макете
$--color-font-hover: rgba(18, 91, 174, 1); // Цвет при ховере на текст
$--color-font-bg: rgba(226, 239, 255, 1); // Цвет фона текста в автоподсказсках при ховере
$--color-font-history: rgba(90, 4, 136, 1); // Цвет запросов истории

$--color-brand: rgba(115, 151, 245, 1); // Основной цвет бренда и скроллбара

$--color-border: rgba(213, 213, 213, 1); // Цвет бордера для инпутов, чекбоксов
$--color-icons: rgba(203, 203, 203, 1); // Цвет основных иконок
$--scroll-bar: rgba(242, 242, 242, 1); // Цвет полосы скролла
$--color-white: white; // Белый цвет
